.loading {
  animation: loading-spin infinite 2s linear;
  transform-origin:center center;

  display: inline-block
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
